package {{packageName}}

// link: https://github.com/eaglesakura/swagger-codegen-extensions

import (
    "net/http"
)

{{#operations}}
// {{packageName}}
type {{classname}} struct {
    // API Endpoint
    // e.g.) "https://example.com/"
    Endpoint string

    // http.Client prefetch intercept function.
    Intercept func(client *http.Client, request *http.Request) (*http.Client, *http.Request)
}

// Update self from builder callback.
func (it *{{classname}})Update(builder func(ref *{{classname}})) *{{classname}} {
    builder(it)
    return it
}


// Copy and Update self from builder callback.
func (it *{{classname}})Copy(builder func(copied *{{classname}})) *{{classname}} {
    result := *it
    builder(&result)
    return &result
}

func New{{classname}}() *{{classname}} {
    return &{{classname}}{
        Endpoint: "{{host}}",
    }
}

{{#operation}}
func (it *{{classname}}){{operationIdCamelCase}}(builder func(*{{classname}}{{operationIdCamelCase}}Request)) *{{classname}}{{operationIdCamelCase}}Request {
    result := &{{classname}}{{operationIdCamelCase}}Request {
        Endpoint:   it.Endpoint,
        Intercept:  it.Intercept,
    }
    builder(result)
    return result
}
{{/operation}}
{{/operations}}
