package {{modelPackage}}

import {{apiPackage}}.* // ktlint-disable
import java.math.* // ktlint-disable
import java.util.* // ktlint-disable
import java.io.* // ktlint-disable
import com.squareup.moshi.* // ktlint-disable
import retrofit2.* // ktlint-disable
import retrofit2.http.* // ktlint-disable
import java.lang.reflect.Type

object ApiEnumFactory : JsonAdapter.Factory {
    override fun create(type: Type, annotations: Set<out Annotation>, moshi: Moshi): JsonAdapter<*>? {
        return when(type) {
            {{#models}}{{#model}}{{#isEnum}}
                {{classname}}::class.java -> {{classname}}.MoshiTypeAdapter
            {{/isEnum}}{{/model}}{{/models}}
            {{#models}}{{#model}}{{#vars}}{{#isEnum}}
                {{classname}}{{datatypeWithEnum}}::class.java -> {{classname}}{{datatypeWithEnum}}.MoshiTypeAdapter
            {{/isEnum}}{{/vars}}{{/model}}{{/models}}
            else -> null
        }
    }
}